@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';

.Main {
  color: _palette(text-dark);
}

/* INTRO SECTION */

.LogoCircle {
  position: relative;
  height: 15em;
  width: 15em;
  border-radius: 50%;
  border: double 6px black;
  padding: 30px;
  margin: -120px auto 50px;
  background: _palette(highlight);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  @include breakpoint-before('960px') {
    height: 10em;
    width: 10em;
    margin: -64px auto 50px;
  }
}

.LogoImage {
  margin-top: 1em;
  width: 9em;

  @include breakpoint-before('768px') {
    width: 5em;
  }
}

.Intro {
  position: relative;
  text-align: center;
  padding: 0 20% 10%;
  background: _palette(highlight);
  background-blend-mode: multiply;
  box-shadow: 0 -7px 40px 0 rgba(0, 0, 0, 0.27);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .IntroHeading {
    margin-bottom: 0;
  }

  .SectionSubheading {
    margin-bottom: 1em;
  }

  @include breakpoint-before('960px') {
    padding: 0 12% 6%;
  }

  @include breakpoint-before('768px') {
    padding: 0 32px 40px;

    .IntroHeading {
      margin-bottom: 0.5em;
    }
  }

  @include breakpoint-before('600px') {
    padding: 0 20px 40px;
  }
}

.IntroHeading {
  text-align: center;
  font-size: 6em;
  font-family: _font(family-display);
  line-height: 1.35;

  @include breakpoint-before('960px') {
    font-size: 3em;
  }

  @include breakpoint-before('600px') {
    font-size: 2em;
  }
}

.SectionSubheading {
  font-size: 2em;
  font-family: _font(family-heading);
  text-transform: uppercase;

  @include breakpoint-before('767px') {
    font-size: 1.5em;
  }

  @include breakpoint-before('600px') {
    font-size: 1.2em;
  }
}

.SectionBody {
  font-size: 1.25em;

  @include breakpoint-before('767px') {
    font-size: 1em;
  }
}

/* CALLOUT GRID SECTION */

.CalloutGrid {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr;
  grid-template-areas:
    'callout1 callout1 image1'
    '. image2 callout2'
    'image3 image3 image3';
  min-height: 75vh;
  background: _palette(accent6);

  @include breakpoint-before('768px') {
    display: block;
  }
}

.CalloutContentOne {
  grid-area: callout1;
  height: 75vh;
  font-family: _font(family-display);
  font-size: 3em;
  line-height: 1.35em;
  color: _palette(text-light);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 4em;

  @include breakpoint-before('768px') {
    font-size: 2em;
    padding: 2em;
    height: auto;
  }
}

.CalloutImageOne {
  grid-area: image1;
  height: 75vh;
  box-shadow: 4px 30px 40px 0 rgba(0, 0, 0, 0.46);

  @include breakpoint-before('768px') {
    height: auto;
  }
}

.CalloutImageTwo {
  grid-area: image2;
  height: 75vh;
  box-shadow: 4px 30px 40px -30px rgba(0, 0, 0, 0.46);
  z-index: 100;

  @include breakpoint-before('768px') {
    height: auto;
  }
}

.CalloutContentTwo {
  grid-area: callout2;
  height: 75vh;
  box-shadow: 4px 30px 40px 0 rgba(0, 0, 0, 0.46);
  background: _palette(highlight-dark);
  z-index: 100;
  padding: 2em;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  line-height: 1.35em;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
  }

  @include breakpoint-before('1080px') {
    font-size: 1.5em;
  }

  @include breakpoint-before('900px') {
    padding: 1em 2em;
  }

  @include breakpoint-before('768px') {
    text-align: left;
    font-size: 1.25em;
    padding: 2em;
    height: auto;
  }
}

.CalloutImageThree {
  grid-area: image3;
  height: 75vh;
  margin-top: -10vh;
  filter: grayscale(100%);

  @include breakpoint-before('768px') {
    margin-top: 0;
    height: auto;
  }
}

.CalloutImage {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.TextLarge,
.page__callout-grid--text-medium {
  margin: 0 auto;
}

/* GRID SECTION */

.GetInvolvedHeading {
  font-family: _font(family-display);
  font-size: 4em;
  margin: 0;
  color: _palette(text-light);

  @include breakpoint-before('960px') {
    font-size: 3em;
  }

  @include breakpoint-before('768px') {
    font-size: 2em;
  }
}

.Separator {
  position: relative;
  text-align: center;
  padding: 2em;
  background: _palette(accent6);

  @include breakpoint-after('960px') {
    padding: 6% 2em 2em;
  }
}

.Grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  min-height: 75vh;

  @include breakpoint-before('768px') {
    display: block;
  }
}

.GridImageWrapper {
  position: relative;
  background: gray;
  height: 50vh;
  width: auto;

  @include breakpoint-before('768px') {
    height: 250px;
    min-height: 0;
  }

  a {
    border: none !important;
  }

  &:nth-of-type(1),
  &:nth-of-type(2) {
    .GridImageOverlay {
      background-image: linear-gradient(
        to bottom,
        #{_palette(accent6)},
        rgba(68, 44, 19, 0.5)
      );

      @include breakpoint-after('768px') {
        // margin-top: -1px;
      }
    }
  }

  &:nth-of-type(1) {
    .GridImageOverlay {
      @include breakpoint-before('768px') {
        // margin-top: -1px;
      }
    }
  }

  &:nth-of-type(3),
  &:nth-of-type(4) {
    .GridImageOverlay {
      background-image: linear-gradient(
        to top,
        #{_palette(accent6)},
        rgba(68, 44, 19, 0.5)
      );
    }
  }
}

.GridImageOverlay {
  width: 100%;
  height: 100%;
  padding: 6%;
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  color: _palette(text-light);
  text-align: center;
  font-weight: 700;
  font-size: 3em;
  transition: font-size 0.1s ease-in-out;

  @include breakpoint-after('768px') {
    &:hover {
      font-size: 3.25em;
    }
  }

  @include breakpoint-before('768px') {
    font-size: 2em;
  }
}

.GridImage {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}

.page__carousel-grid--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: _palette(accent4);
  min-height: 75vh;
  padding: 3em;
  color: _palette(text-light);

  p {
    margin: 0;
  }

  @include breakpoint-before('960px') {
    padding: 3em;
    min-height: auto;
  }

  @include breakpoint-before('600px') {
    padding: 2em 20px;
    min-height: auto;
  }
}

/* --- end carousel styles --- */

// @keyframes zoom-out {
//   from {
//     transform: scale(1.5);
//   }
//   to {
//     transform: scale(1);
//   }
// }
