@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';

.Main {
  color: _palette(text-dark);
  display: flex;
  flex-direction: column;
  position: relative;
}

.SectionHeading {
  font-family: _font(family-display);
  font-size: 3em;

  @include breakpoint-before('768px') {
    font-size: 2em;
  }
}

/*  Hero  */

.Hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HeroContentBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 4em 6em;
  background: _palette(text-dark);
  color: _palette(text-light);

  @include breakpoint-before('768px') {
    text-align: left;
    padding: 2em 20px;
  }
}

.HeroHeading {
  font-size: 3em;
  font-family: _font(family-display);
  margin-bottom: 0.5em;

  @include breakpoint-before('768px') {
    font-size: 1.75em;
  }
}

.HeroText {
  font-size: 2em;
  font-family: _font(family-body);
  margin-bottom: 0.5em;

  @include breakpoint-before('1024px') {
    font-size: 1em;
  }
}

.HeroImageBlock {
  position: relative;
  display: flex;
  height: 70vh;
  width: 100%;

  @include breakpoint-before('768px') {
    height: 250px;
  }
}

.HeroImage {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.HeroImageOverlay {
  margin-top: -1px;
  width: 100%;
  height: 100%;
  background-blend-mode: overlay;
  background-image: linear-gradient(to bottom, #000000, transparent);
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 100;
}

/*  Goals  */

.GoalSection {
  padding: 6%;
  background: _palette(accent6);
  color: _palette(text-light);

  @include breakpoint-before('1024px') {
    padding: 2em 20px;
  }
}

.IntroText {
  font-size: 1.25em;

  &:last-of-type {
    margin-bottom: 6em;
  }

  @include breakpoint-before('768px') {
    font-size: 1em;

    &:last-of-type {
      margin-bottom: 3em;
    }
  }
}

.Goal {
  display: grid;
  grid-template-areas: 'content image';
  grid-template-columns: 1fr 1fr;
  padding: 3em 0;

  &:nth-of-type(2) {
    grid-template-areas: 'image content';
    grid-template-columns: 1fr 1fr;

    .GoalContent {
      padding-right: 0;
      padding-left: 4em;
    }
  }

  @include breakpoint-before('768px') {
    display: block;
    padding: 1em 0;
  }
}

.GoalContent {
  grid-area: content;
  padding-right: 4em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 2em;
  font-weight: 300;
  width: 100%;

  &:nth-of-type(2) {
    padding-right: 0;
    padding-left: 4em;
  }

  @include breakpoint-before('768px') {
    padding: 0 !important;
    font-size: 1em;
  }
}

.GoalContentHighlight {
  font-weight: 700;
}

.GoalImageWrapper {
  grid-area: image;
  width: 100%;
}

.GoalImage {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Highlight video */

.HighlightVideoSection {
  color: _palette(text-light);
  background: _palette(accent3);
  padding: 6%;

  @include breakpoint-before('768px') {
    padding: 2em 20px;
  }
}

.Video {
  height: calc(56.25vw * 0.78);
  width: 100%;
}

/* Call to action Section */

.ActionSection {
  padding: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .SectionHeading {
    margin: 0;
  }
}

.ActionContent {
  font-size: 2em;
  margin: 0;

  @include breakpoint-before('768px') {
    font-size: 1.25em;
  }
}

.Action {
  &:hover,
  &:focus {
    font-weight: bolder !important;
    color: _palette(text-dark) !important;
  }
}
